/*
 * [BookVn] client/app/bkvn-footer/bkvn-footer.styl
 *
 * Implements directive 'bkvn-footer'.
 *
 * (c) 2017 Sanjeev Premi (spremi@ymail.com)
 *
 * SPDX-License-Identifier: BSD-3-Clause
 *                          (http://spdx.org/licenses/BSD-3-Clause.html)
 */


bkvn-footer
  display           flex
  width             100%

  min-height        32px
  height            32px

  padding           0px 16px

  justify-content   space-between
  align-items       center
  user-select       none

  font-size         1.1rem

  overflow          hidden

  .bkvn-author
  .bkvn-donee
    padding       0px
    margin        0px
