/*
 * [BookVn]
 *
 * Styles for directive 'bkvn-chapter'.
 *
 * (c) 2017 Sanjeev Premi (spremi@ymail.com)
 *
 * SPDX-License-Identifier: BSD-3-Clause
 *                          (http://spdx.org/licenses/BSD-3-Clause.html)
 */


bkvn-chapter
  display         inline-flex
  flex-direction  column

  margin          24px

  width           150px
  height          150px

  border          1px solid black

  a
    flex              1
    display           flex
    flex-direction    column
    justify-content   center

    align-self    stretch
    text-align    center

    font-size     1.5rem
    font-weight   600
